<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @coupon.name %>
</p>

<p>
  <b>Image url thumb:</b>
  <%= @coupon.image_url_thumb %>
</p>

<p>
  <b>Image url:</b>
  <%= @coupon.image_url %>
</p>

<p>
  <b>Visible:</b>
  <%= @coupon.visible %>
</p>


<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>
