<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sponsor.name %>
</p>

<p>
  <b>Image url:</b>
  <%= @sponsor.image_url %>
</p>

<p>
  <b>Active:</b>
  <%= @sponsor.active %>
</p>

<p>
  <b>Priority:</b>
  <%= @sponsor.priority %>
</p>


<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
