<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @order.data %>
</p>

<p>
  <b>Rp:</b>
  <%= @order.rp_id %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
